
h1{
    color: var(--corLightBlue);
}
.divMainModel{
    display: flex;
    flex-direction: column;
    width: 160px;
    border: solid 1px #ffffff;
    box-shadow: 4px 4px 4px 2px #00000034;
    border-radius: 10px;
}

.spanDivModel{
    height: 40px;
    padding: 8px  ;
    border-bottom: solid 1px #00000031;
    color: rgb(255, 255, 255);

}

.form-select{
    width: 130px;
    align-self: center;
    margin: 10px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px var(--corLightBlue);
}

option:hover{
    background-color: var(--corLightBlue);
}

.groupperDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    justify-content: center;
}

.spanInfoBlue{
    margin-left: 20px;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 0px;
}

.spanSubtitle{
    margin-left: 20px;
    height:min-content;
    color: #ffffff;
    align-items: flex-start;
}

.centralImageVehicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--corHighDarkBlue) 50%, #1b334bf1 50%);
    border: solid 1px #ffffff;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
}

.centralImageVehicle img {
    width: 100%;
    align-self: center;
}

.divTable{
    display: flex;
    flex-direction: column;

}

.custom-table{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    background-color: var(--corLightBlue);
    color: var(--corLightBlue);
    border: solid 1px;

}

.backgroundAzulTable{
    background-color: var(--corHighDarkBlue);
    color: white;
}


.divMainPage{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: 100vh;
    background: linear-gradient(to bottom, var(--corHighDarkBlue) 50%, #ffffff 50%);
}

.divMainPage2{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    max-width: 1000px;

}


.divMainModel:hover{
    border-color: var(--corLightBlue);
}