


.spnWelcome{
    color: var(--corVerde);
    align-self: center;
    font-weight: bold;
}

.carAndForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imgFordRanger{
    max-width: 700px;
    width: 100%;
}

.divColumnCarAndInfo{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 50%;
    height: 100vh;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.divInfoCar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.carTitle{
    font-size: 36px;
    color: var(--corAzul);
    font-weight: bold;
}

.spanInfoCar{
    max-height: 200px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
}

.vehicle-features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconCarFeatures{
    color: var(--corAzul);
}

.spanCarFeature{
    overflow: auto ;
}


.imgFordLogo{
    width: 170px;
    align-self: center;
    margin-bottom: 20px;
}

#elementPopupInfo .modal-dialog {
    margin-top: 10vh;
    max-width: 600px;
  }
  
  #elementPopupInfo .modal-content {
    padding: 1.5rem;
  }
  
  .modal-content{
    max-width: 370px;
  }
  
  .spanErrorPopup{
    font-size: 18px;
    text-align: center;
  }

#userIcon, #infoIcon{
    color: var(--corVerde);
    cursor: pointer;
}

.loginForm{
    display: flex;
    flex-direction: column;
    background-color: #e7edf2;
    gap: 10px;
    width: 50%;
    padding: 45px 30px;
    height: 100vh;
    justify-content: center;
}

.form2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px ;
    width: 100%;
    border: solid 1px #0000001f;
    padding: 50px;
    align-self: center;
    box-shadow: 4px 4px 4px 2px #0000005e;
    background-color: #ffffff;


}

.emailInput{
    height: 25px;
    max-width: 290px;
    width: 100%;
    padding: 0px 25px 0px 25px;
    border-radius: 2px;
    border: solid 1px;
}

.btn-close{
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

.imgInfoPopup{
    align-self: center;
    justify-self: center;
}

.passwordInput{
    height: 25px;
    max-width: 290px;
    width: 100%;
    margin-right: 10px;
    padding-left: 25px;
    border-radius: 2px;
    border: solid 1px;
}

.bi-check-circle-fill{
    margin-top: -2px;
    align-self:flex-start;
    color: var(--corVerde);
    font-size: 35px;
    align-self: center;
}



.bi-x-circle{
    margin-top: -2px;

    align-self:center;
    color:firebrick;
    font-size: 35px;
}

.divInput{
    position: relative;
    min-width: 320px;
justify-content: center;
}

#userIcon{
    position: absolute;
    left: 5px;
}

#infoIcon{
    margin-left: 5px;
align-items: center;}

.form-check{
    align-self: flex-end;
    margin-right: 30px;
}

.autoLogin{
    font-size: 12px;
    align-self: center;
}

.form-check-input {
    align-self: center;
    margin-top: 6px;
}


.form-check-input:checked {
    background-color: var(--corVerde);
    border-color: var(--corVerde);
  }

  .bttnEntrarInativo{
    background-color: rgba(75, 75, 75, 0.527);
    border: solid 0px;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 2px;
    max-width: 290px;
    box-shadow: 4px 4px 4px 2px #bdb9b9;
    cursor: pointer;
  }

  .bttnEntrarAtivo{
    background-color: var(--corVerde);
    border: solid 0px;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 2px;
    max-width: 290px;
    box-shadow: 4px 4px 4px 2px #bdb9b9;
    cursor: pointer;
  }

  @media (max-width:870px){
    .divColumnCarAndInfo{
        display: none;
    }
    .loginForm{
        width: 100vw;
    }
  }