<!-- utilização dos icones da font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<!-- Instalação do bootstrap toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<div class="carAndForm">
 
    <div class="divColumnCarAndInfo">
        <img class="imgFordRanger" src="assets/Ranger Farol Desligado.png" alt="Logo da Ford">
        <div class="divInfoCar">
            <span class="carTitle">Ford Ranger</span>
            <span class="spanInfoCar">Experimente a potência e a confiabilidade da Ford Ranger. Construída para qualquer aventura, com design inteligente para o uso diário.</span>
        </div>    
        <div class="vehicle-features">
            <div class="features">
                <i id="iconCarFeatures" class="fa-solid fa-car"></i>
                <span class="spanCarFeature">Motor potente</span>
            </div>

            <div class="features">
                <i id="iconCarFeatures" class="fa-solid fa-road"></i>
                <span class="spanCarFeature">Capacidade off-road</span>
            </div>

            <div class="features">
                <i id="iconCarFeatures" class="fa-solid fa-gauge"></i>
                <span class="spanCarFeature">Eficiência de combustível</span>
            </div>
        </div>
    </div>

    <div class="loginForm">
        <div class="form2">
        <img class="imgFordLogo" src="assets/ford.png" alt="Ford Ranger">
        <span class="spnWelcome">Boas-vindas</span>
        <div class="divInput">
            <i id="userIcon" class="bi bi-person-fill"></i>
            <input [(ngModel)]="email" placeholder="Insira o seu e-mail" #emailInput class="emailInput" type="email" required>
            <i id="infoIcon" class="bi bi-info-circle-fill" (click)="infoApp()"></i>

        </div>

        <div class="divInput">
            <i id="userIcon" class="bi bi-key-fill"></i>
            <input [(ngModel)]="senha" placeholder="Insira a sua senha" #senhaInput class="passwordInput" type="password" required>
        </div>

        <div class="form-check form-switch">
            <span class="autoLogin">Logar automaticamente</span>
            <input class="form-check-input" type="checkbox" id="meuToggle">
        </div>

        <button [ngClass]="{ 'bttnEntrarAtivo': validarCampos(), 'bttnEntrarInativo': !validarCampos() }" (click)="showPopupError()">Entrar</button>
    </div>
    </div>

    <div #elementPopupInfo id="elementPopupInfo" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content" style="padding: 0;">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" (click)="focusEmail()"></button>

            <div class="modal-body d-flex justify-content-between align-items-center" style="padding-top: 0;">
                <div style="display: flex; flex-direction: column; margin-left: 20px;">
                    <i style="margin-bottom: 10px;" class="bi bi-x-circle"></i>

                    <span class="spanErrorPopup">Para acessar o sistema, informe as suas credenciais de login.</span>
                </div>
            </div>
        </div>
        </div>
    </div>
  
    <div #popupErrorCredentials id="popupErrorCredentials" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" (click)="focusEmail()"></button>
            <div class="modal-body d-flex justify-content-between align-items-center">
                @if(!credenciaisCorretas){
                    <div class="w-100" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 0;">
                        <i style="margin-bottom: 10px;" class="bi bi-x-circle"></i>
                        <div style="display: flex; flex-direction: column; margin-left: 20px;">
                         <span class="spanErrorPopup">E-mail ou senha inválidos.</span>
                         <span class="spanErrorPopup">Por favor, revise-os.</span>
                        </div>
                    </div>
                } @else {
                    <div class="w-100" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 0;">
                        <i style="margin-bottom: 10px;" class="bi bi-check-circle-fill"></i>
                        <div style="display: flex; flex-direction: column; margin-left: 20px;">
                         <span class="spanErrorPopup">Acesso permitido!</span>
                         <span class="spanErrorPopup">Aguarde enquanto te redirecionamos à página inicial!</span>
                        </div>
                    </div>
              }
            </div>
        </div>
        </div>
    </div>
    
</div>