
<button style="margin: 20px;" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="bi bi-list"></i>
  </button>
  
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <img class="fordLogo" src="/assets/ford.png" alt="">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <i class="fa-solid fa-chart-pie"></i>
        <i class="bi bi-graph-down-arrow"></i>
        I will not close if you click outside of me.
      </div>
    </div>
  </div>

<div class="divMain">
    <img style="opacity: 80%;" src="/assets/ranger farol desligado.png" alt="">
</div>