@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root{
    --corVerde: #55A39B;
    --corAzul: #003C80;
    --corLightBlue : #4496E1;
    --corDarkBlue: #032068;
}